<div class="market">

  <div class="title">
    Situation du marché
  </div>

  <div class="product">
    <div class="product-space">
      <span>&nbsp;</span>
    </div>
    <div class="product-name" *ngFor="let product of allProducts; let i = index">
      <span>Product {{ i + 1 }}</span>
    </div>
  </div>

  <div class="potential selling">
    <div class="potential-name selling-name">
      Demande Potentielle
    </div>
    <div class="potential-result selling-result" *ngFor="let product of allProducts; let iProd = index">
      {{ selling.potential[iProd] | roundAt0 }}
    </div>
  </div>

  <div class="effective selling">
    <div class="effective-name selling-name">
      Demande Effective
    </div>
    <div class="effective-result selling-result" *ngFor="let product of allProducts; let iProd = index">
      {{ selling.effective[iProd] }}
    </div>
  </div>

</div>
