<div class="submission">

  <p>{{ lang.decExceptionalFabricationTitle }}</p>

  <div class="submission-label">
    <div><label>{{ lang.decExceptionalFabricationNames }} :</label></div>
    <div><label>{{ lang.decExceptionalFabricationQuantity }} :</label></div>
    <div><label>{{ lang.decExceptionalFabricationPrice }} :</label></div>
  </div>

  <div class="submission-input" *ngFor="let product of products; let i = index;">
    <div><span>{{ lang.decExceptionalFabricationName }} {{ i +1 }}</span></div>
    <div><input type="number" [(ngModel)]="submission.exceptionnalSelling[i]" (change)="changement()" (keyup)="changement()"></div>
    <div><input type="number" [(ngModel)]="submission.exceptionnalPrice[i]"   (change)="changement()" (keyup)="changement()"></div>
  </div>

</div>
