<div class="actif">

  <p class="title">{{ lang.fluxAssetsTitle }}</p>

  <div class="block immobilised-actif">

    <p>{{ lang.fluxAssetsImmo }}</p>

    <div class="article">

      <div class="actif-label">
        <div><label>{{ lang.fluxAssetsImmoTools }}</label></div>
        <div><label>{{ lang.fluxAssetsImmoAmortization }}</label></div>
      </div>

      <div class="actif-first">
        <div><label>{{ asset.tools | roundAt2 }}</label></div>
        <div><label>{{ asset.amortizement | roundAt2 }}</label></div>
      </div>

      <div class="actif-total space-only">
        <div><label>&nbsp;</label></div>
        <div><label>&nbsp;</label></div>
      </div>

    </div>

    <div class="result-article">

      <div class="actif-label space-only">
        <div><label>&nbsp;</label></div>
      </div>
      <div class="actif-first space-only">
        <div><label>&nbsp;</label></div>
      </div>
      <div class="actif-total">
        <div>{{ asset.immobilisation | roundAt2 }}</div>
      </div>

    </div>

  </div>

  <div class="block ciculated-actif">

    <p>{{ lang.fluxAssetsMove }}</p>

    <div class="article">

      <div class="actif-label">
        <div><label>{{ lang.fluxAssetsMoveStorage }}</label></div>
        <div><label>{{ lang.fluxAssetsMoveClient }}</label></div>
        <div><label>{{ lang.fluxAssetsMoveBank }}</label></div>
      </div>

      <div class="actif-first">
        <div><label>{{ asset.stockage | roundAt2 }}</label></div>
        <div><label>{{ asset.clients | roundAt2 }}</label></div>
        <div><label>{{ asset.bank | roundAt2 }}</label></div>
      </div>

      <div class="actif-total space-only">
        <div><label>&nbsp;</label></div>
        <div><label>&nbsp;</label></div>
        <div><label>&nbsp;</label></div>
      </div>

    </div>

    <div class="result-article">

      <div class="actif-label space-only">
        <div><label>&nbsp;</label></div>
      </div>

      <div class="actif-first space-only">
        <div><label>&nbsp;</label></div>
      </div>

      <div class="actif-total">
        <div>{{ asset.circulization | roundAt2 }}</div>
      </div>

    </div>

  </div>

  <div class="block total-actif">

    <div class="actif-label">
      <div><label>{{ lang.fluxAssetsTotal }}</label></div>
    </div>

    <div class="actif-first space-only">
      <div><label>&nbsp;</label></div>
    </div>

    <div class="actif-total">
      <div>{{ asset.totalAssets | roundAt2 }}</div>
    </div>

  </div>

</div>
