.actif{
  width: 98%;

  box-shadow: 1px 1px 5px #808080;
  border-radius: 25px;
  margin: 5px;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 5% 45% 45% 10%;
  grid-row-gap: 15px;
  grid-template-areas:
            "title"
            "immobilization"
            "circulation"
            "total";
}

.block{
  overflow: auto;
  padding-left: 15px;
  border: 0.5px solid black;
  border-radius: 15px;
}

.title{
  grid-area: title;
  height: 100%;

  background: #808080;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 25px 25px 0px 0px;

  font-weight: bold;
  font-size: 22px;
  text-align: center;
}
.immobilised-actif{
  grid-area: immobilization;
  height: 100%;
  margin: 10px 15px;
}
.ciculated-actif{
  grid-area: circulation;
  height: 100%;
  margin: 10px 15px;
}
.total-actif{
  grid-area: total;
  text-align: center;
  border: none;
  margin: 10px 15px;
}

/*********************************************************/

.article{
  width: 100%;
  text-align: center;
  display: inline-block;
}
.result-article{
  width: 100%;
  text-align: center;
}

.actif-label{
  float: left;
  width: 30%;
  margin: auto 5px;
}
.actif-first{
  float: left;
  width: 30%;
  margin: auto 5px;
}
.actif-total{
  float: left;
  width: 30%;
  margin: auto 5px;
}


.actif-label{
  border: 2px solid black;
  background: grey;
}
.actif-first{
  border: 1px solid black;
}
.actif-total{
  border: 1px solid black;
}
.space-only{
  border: none;
  background: none;
}
