.actif{
  width: 90%;
  /*height: 50vh;*/
  padding: 10px 15px;

  border: 2px solid black;
  border-radius: 25px;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 5% 45% 45% 10%;
  grid-row-gap: 15px;
  grid-template-areas:
            "title"
            "immobilization"
            "circulation"
            "total";
}

.block{
  overflow: auto;
  padding-left: 15px;
  border: 1px solid black;
  border-radius: 15px;
}

.title{
  grid-area: title;
  height: 100%;
}
.immobilised-actif{
  grid-area: immobilization;
  height: 100%;
}
.ciculated-actif{
  grid-area: circulation;
  height: 100%;
}
.total-actif{
  grid-area: total;
  text-align: center;
  border: none;
}

/*********************************************************/

.article{
  width: 100%;
  text-align: center;
  display: inline-block;
}
.result-article{
  width: 100%;
  text-align: center;
}

.actif-label{
  float: left;
  width: 30%;
  margin: auto 5px;
}
.actif-first{
  float: left;
  width: 30%;
  margin: auto 5px;
}
.actif-total{
  float: left;
  width: 30%;
  margin: auto 5px;
}


.actif-label{
  border: 2px solid black;
  background: grey;
}
.actif-first{
  border: 1px solid black;
}
.actif-total{
  border: 1px solid black;
}
.space-only{
  border: none;
  background: none;
}
