<div class="liability">

  <p class="title">{{ lang.fluxLiabilitiesTitle }}</p>

  <div class="block own-liability">

    <p>{{ lang.fluxLiabilitiesImmo }}</p>

    <div class="article">

      <div class="liability-label">
        <div><label>{{ lang.fluxLiabilitiesImmoCapital }}</label></div>
        <div><label>{{ lang.fluxLiabilitiesImmoReserve }}</label></div>
        <div><label>{{ lang.fluxLiabilitiesImmoResult }}</label></div>
      </div>

      <div class="liability-first">
        <div><label>{{ liability.socialCapital }}</label></div>
        <div><label>{{ liability.reserve }}</label></div>
        <div><label>{{ liability.exercice }}</label></div>
      </div>

      <div class="liability-total space-only">
        <div><label>&nbsp;</label></div>
        <div><label>&nbsp;</label></div>
        <div><label>&nbsp;</label></div>
      </div>

    </div>

    <div class="result-article">

      <div class="liability-label space-only">
        <div><label>&nbsp;</label></div>
      </div>

      <div class="liability-first space-only">
        <div><label>&nbsp;</label></div>
      </div>

      <div class="liability-total">
        <div>{{ liability.ownRessource }}</div>
      </div>

    </div>

  </div>




  <div class="block loaning-liability">

    <p>{{ lang.fluxLiabilitiesMove }}</p>

    <div class="article">

      <div class="liability-label">
        <div><label>{{ lang.fluxLiabilitiesMoveBorrow }}</label></div>
        <div><label>{{ lang.fluxLiabilitiesMoveBank }}</label></div>
        <div><label>{{ lang.fluxLiabilitiesMoveProvider }}</label></div>
        <div><label>{{ lang.fluxLiabilitiesMoveDebt }}</label></div>
      </div>

      <div class="liability-first">
        <div><label>{{ liability.borrow }}</label></div>
        <div><label>{{ liability.bankLoans }}</label></div>
        <div><label>{{ liability.provider }}</label></div>
        <div><label>{{ liability.taxDebts }}</label></div>
      </div>

      <div class="liability-total space-only">
        <div><label>&nbsp;</label></div>
        <div><label>&nbsp;</label></div>
        <div><label>&nbsp;</label></div>
        <div><label>&nbsp;</label></div>
      </div>

    </div>

    <div class="result-article">

      <div class="liability-label space-only">
        <div><label>&nbsp;</label></div>
      </div>

      <div class="liability-first space-only">
        <div><label>&nbsp;</label></div>
      </div>

      <div class="liability-total">
        <div>{{ liability.borrowRessource }}</div>
      </div>

    </div>

  </div>




  <div class="total-liability">

    <div class="liability-label">
      <div><label>{{ lang.fluxLiabilitiesTotal }}</label></div>
    </div>

    <div class="liability-first space-only">
      <div><label>&nbsp;</label></div>
    </div>

    <div class="liability-total">
      <div>{{ liability.totalLiabilities }}</div>
    </div>

  </div>

</div>
