<div class="market" *ngFor="let product of allProducts; let iProd = index">

  <div class="title">
    {{ lang.studiesProductTitle }} {{ iProd + 1}}
  </div>

  <div class="teams">
    <div class="teams-space">
      <span>&nbsp;</span>
    </div>
    <div class="teams-name" *ngFor="let team of allTeams">
      <span>{{ team.name }}</span>
    </div>
  </div>

  <div class="choices" *ngFor="let choice of proprety; let iChoice = index">
    <div class="choices-name">
      <span *ngIf="choice === 'price'">{{ lang.studiesProductPrice }}</span>
      <span *ngIf="choice === 'publicity'">{{ lang.studiesProductPublicity }}</span>
      <span *ngIf="choice === 'marketing'">{{ lang.studiesProductAction }}</span>
      <span *ngIf="choice === 'sellor'">{{ lang.studiesProductSellor }}</span>
      <span *ngIf="choice === 'credit'">{{ lang.studiesProductCredit }}</span>
    </div>
    <div class="choices-result" *ngFor="let team of allTeams; let iTeam= index">
      {{ productsChoices[iProd][iTeam][choice] }}
    </div>
  </div>

</div>
