.products{
  border: solid 2px black;
  border-radius: 12px;
  padding: 10px 15px;
  margin: 5px;
  overflow: auto;

  font-size: 18px;
}

/***********************/
.products-label{
  float: left;
  margin: 5px;
}
.products-output{
  float: left;
  margin: 5px;
}

/***********************/
.products-label>div:nth-child(1){
  margin-bottom: 5px;
}
.products-output>div:nth-child(1){
  margin-bottom: 5px;
}
