<div class="products">

  <p>{{ lang.initProductTitle }}</p>

<div class="all">

  <div class="products-label">
    <div>
      <label>{{ lang.initProductNames }}: </label>
    </div>
    <div>
      <label>{{ lang.initProductPotential }}: </label>
    </div>
    <div>
      <label>{{ lang.initProductEvolution }}: </label>
    </div>
    <div>
      <label>{{ lang.initProductTime }}: </label>
    </div>
    <div>
      <label>{{ lang.initProductCost }}: </label>
    </div>
    <div>
      <label>{{ lang.initProductMin }}: </label>
    </div>
    <div>
      <label>{{ lang.initProductMax }}: </label>
    </div>
  </div>

  <div class="products-output" *ngFor="let product of products; let i = index">
    <div>
      <label>{{ lang.initProductName }} {{i + 1}}</label>
    </div>
    <div>
      <input type="number" [(ngModel)]="product.potentialSell"/>
    </div>
    <div>
      <!-- <input type="string" [(ngModel)]="product.typeEvolution"/> -->
      <select [(ngModel)]="product.typeEvolution">
        <option value="c/d">{{ lang.initProductEvolutionCD }}</option>
        <option value="exponential">{{ lang.initProductEvolutionExpo }}</option>
        <option value="random">{{ lang.initProductEvolutionRandom }}</option>
        <option value="totallyRandom">{{ lang.initProductEvolutionTotalRandom }}</option>
      </select>
    </div>
    <div>
      <input type="number" [(ngModel)]="product.productTime"/>
    </div>
    <div>
      <input type="number" [(ngModel)]="product.unitaryCost"/>
    </div>
    <div>
      <input type="number" [(ngModel)]="product.minPrice"/>
    </div>
    <div>
      <input type="number" [(ngModel)]="product.maxPrice"/>
    </div>
  </div>

</div>

</div>
