<div class="market">

  <div class="title">
    {{ lang.studiesPerformanceTitle }}
  </div>

  <div class="products">
    <div class="products-space">
      <span>&nbsp;</span>
    </div>
    <div class="products-name" *ngFor="let product of allProducts; let iProd = index">
      <span>{{ lang.studiesPerformanceNameProduct }} {{ iProd + 1 }}</span>
    </div>
  </div>

  <div class="items" *ngFor="let item of keyList; let iTem = index">
    <div class="items-name">
      {{ item }}
    </div>
    <div class="items-result" *ngFor="let product of allProducts; let iProd= index">
      {{ valueList[iProd][item] | roundAt2 }}
    </div>
  </div>

</div>
