.finance{
  display: inline-block;
  width: 99%;
}
.block{
  display: inline-block;
  text-align: center;
  width: 100%;
}
.finance-label,
.finance-first,
.finance-second,
.all-product{
  display: inline-block;
  vertical-align: top;
}

.finance-label{
  width: 30%;
  text-align: left;
}
.finance-first{
  width: 50%;
}
.finance-second{
  width: 10%;
}
/************************************/

.finance{
  border-radius: 12px;
  box-shadow: 1px 1px 5px #808080;
  overflow: auto;
  padding: 0px;
}
.finance p{
  background: #808080;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0x;
  font-size: 25px;
}

/************************************/
.block{
  margin-bottom: 5px;
}
.finance-label div,
.finance-first div,
.finance-second div{
  padding: 2px 5px;
  margin: 2.5px 10px;
  border: 0.5px solid black;
}

.finance-label div{
  background: #808080;
}

/************************************/
.finance-first div{
  width: 20%;
  text-align: center;
  margin-left: auto;
  margin-right: 0px;
}
.space{
  border: none !important;
}
