.charge{
  display: inline-block;
  width: 99%;
}
.block{
  display: inline-block;
  text-align: center;
  width: 100%;
}
.charge-label,
.charge-result,
.charge-total,
.all-product{
  display: inline-block;
  vertical-align: top;
}

.charge-label{
  width: 30%;
  text-align: left;
}
.all-product{
  width: 50%;
}
.charge-result{
  width: 25%;
}
.charge-total{
  width: 10%;
}
/************************************/

.charge{
  border-radius: 12px;
  box-shadow: 1px 1px 5px #808080;
  overflow: auto;
  padding: 0px;
}
.charge p{
  background: #808080;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0x;
  font-size: 25px;
}

/************************************/
.block{
  margin-bottom: 5px;
}
.charge-label div,
.charge-result div,
.charge-total div{
  padding: 2px 5px;
  margin: 2.5px 10px;
  border: 0.5px solid black;
}

.charge-label div{
  background: #808080;
}
.charge-result div:nth-child(1),
.charge-total div:nth-child(1){
  background: #808080;
}
.charge-label div:nth-child(1){
  background: none;
  border: none;
}

/************************************/
