.init{
  padding: 0px;
  margin: 0px;
  width: 100%;
}

h1{
  text-align: center;
}

.game-about{
  overflow: auto;
  margin: 10px 0px;
}

.general-init{
  text-align: center;
}

.final{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
.final button{
  padding: 5px 25px;
  margin: 5px;

  background: none;
  border: solid 2px black;
  color: black;

  font-size: 16px;
  text-transform: uppercase;
}
.final button:active{
  color: white;
  background-color: black;
  transition: all 500ms ease-in-out;
}
.final button:hover{
  color: white;
  background-color: black;
  transition: all 500ms ease-in-out;
}
