.politics{
  box-shadow: 1px 1px 5px #808080;
  border-radius: 12px;
  margin: 5px;

  font-size: 18px;
}
.all{
  padding: 10px 15px;
}

.politics p{
  margin-left: 5px;
  font-weight: bold;
}

.politics h3{
  background: #808080;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 12px 12px 0px 0px;

  font-weight: bold;
  font-size: 22px;
  text-align: center;
}

/************OVER PRICING*****************/
.politics-overprice{

}

/********SALARY*********/
.politics-salary{
  width: 98%;
}
.employees{
  width: 50%;
  float: left;
}
.cout-employees{
  width: 40%;
  float: left;
}

/********FINANCES************/
.politics-finances{
  width: 98%;
}
.finances-part-one{
  width: 50%;
  float: left;
}
.finances-part-two{
  width: 40%;
  float: left;
}

/***********PRODUCT***************/
.politics-product{
  width: 98%;
}
.politics-production{
  width: 50%;
  float: left;
}
.politics-machinery{
  width: 40%;
  float: left;
}


/************COST*****************/
.politics-cost{
  width: 98%;
}
.politics-cost-one{
  width: 30%;
  float: left;
}
.politics-cost-two{
  width: 35%;
  float: left;
}
.politics-cost-three{
  width: 30%;
  float: left;
}
