<div class="politics">
  <h3>{{ lang.initPoliticTitle }}</h3>

  <div class="all">

  <!-- Over Pricing -->
  <table class="box politics-overprice">
    <p>{{ lang.initPoliticSupp }}</p>
    <div>
      <label>{{ lang.initPoliticSuppTime }} (%): </label>
      <span><input type="number" [(ngModel)]="politics.overtimePercent"/></span>
    </div>
    <div>
      <label>{{ lang.initPoliticSuppCost }} (%): </label>
      <span><input type="number" [(ngModel)]="politics.overheadPercent"/></span>
    </div>
  </table>

  <!-- Salary -->
  <table class="box politics-salary">
    <p>{{ lang.initPoliticSalary }}</p>
    <!-- Kind Of Employees and Prices -->
    <div class="employees">
      <div *ngFor="let employee of politics.typeOfEmployees">
        <label *ngIf="employee.type === 'Productor' "> {{ lang.initPoliticSalaryProductor }} </label>
        <label *ngIf="employee.type === 'Sellor' "> {{ lang.initPoliticSalarySellor }} </label>
        <label *ngIf="employee.type === 'Manager' "> {{ lang.initPoliticSalaryManager }} </label>
        <span><input type="number" [(ngModel)]="employee.salary"></span>
      </div>
    </div>

    <div class="cout-employees">
      <div>
        <label>{{ lang.initPoliticSalaryFire }} (%): </label>
        <span><input type="number" [(ngModel)]="politics.firePricePourcent"/></span>
      </div>
      <div>
        <label>{{ lang.initPoliticSalaryHire }} (%): </label>
        <span><input type="number" [(ngModel)]="politics.hirePricePourcent"/></span>
      </div>
      <div>
        <label>{{ lang.initPoliticSalaryFormation }} (%): </label>
        <span><input type="number" [(ngModel)]="politics.minimalTraining"/></span>
      </div>
    </div>
  </table>

  <!-- Finances -->
  <table class="box politics-finances">

    <p>{{ lang.initPoliticRate }}(%)</p>
    <div class="finances-part-one">
      <div>
        <label>{{ lang.initPoliticRateBorrowing }}: </label>
        <input type="number" [(ngModel)]="politics.loaning"/>
      </div>
      <div>
        <label>{{ lang.initPoliticRateOverdraft }}: </label>
        <input type="number" [(ngModel)]="politics.overdraft"/>
      </div>
      <div>
        <label>{{ lang.initPoliticRateNonOverdraft }}: </label>
        <input type="number" [(ngModel)]="politics.unauthorizedOverdraft"/>
      </div>
      <div>
        <label>{{ lang.initPoliticRateAuthorization }}: </label>
        <input type="number" [(ngModel)]="politics.overdraftAmountPercent"/>
      </div>
    </div>
    <div class="finances-part-two">
      <div>
        <label>{{ lang.initPoliticRatePlacement }}: </label>
        <input type="number" [(ngModel)]="politics.placement"/>
      </div>
      <div>
        <label>{{ lang.initPoliticRateVAT }}: </label>
        <input type="number" [(ngModel)]="politics.VAT"/>
      </div>
      <div>
        <label>{{ lang.initPoliticRateTax }}: </label>
        <input type="number" [(ngModel)]="politics.IT"/>
      </div>
      <div>
        <label>{{ lang.initPoliticRateCredit }}: </label>
        <input type="number" [(ngModel)]="politics.supplierCredits"/>
      </div>
    </div>

  </table>

  <table class="box politics-product">

    <!-- Production -->
    <div class="politics-production">
      <p>{{ lang.initPoliticCapacity }}</p>
      <div>
        <label>{{ lang.initPoliticCapacityMachinery }}: </label>
        <input type="number" [(ngModel)]="politics.machineProduction"/>
      </div>
      <div>
        <label>{{ lang.initPoliticCapacityProductor }}: </label>
        <input type="number" [(ngModel)]="politics.productorProduction"/>
      </div>
    </div>

    <!-- Machinery -->
    <div class="politics-machinery">
      <p>{{ lang.initPoliticMachinery }}</p>
      <div>
        <label>{{ lang.initPoliticMachineryPrice }}: </label>
        <input type="number" [(ngModel)]="politics.machineryType.price"/>
      </div>
      <div>
        <label>{{ lang.initPoliticMachineryAmortization }}: </label>
        <input type="number" [(ngModel)]="politics.machineryType.amortization"/>
      </div>
      <div>
        <label>{{ lang.initPoliticMachineryReparation }}: </label>
        <input type="number" [(ngModel)]="politics.machineryType.repairPrice"/>
      </div>
    </div>

  </table>

  <!-- General Cost -->
  <table class="box politics-cost">
    <p>{{ lang.initPoliticCost }}</p>
    <div class="politics-cost-one">
      <div>
        <label>{{ lang.initPoliticCostStockage }}: </label>
        <input type="number" [(ngModel)]="politics.generalCost.stockage"/>
      </div>
      <div>
        <label>{{ lang.initPoliticCostFix }}: </label>
        <input type="number" [(ngModel)]="politics.generalCost.fixedPrice"/>
      </div>
    </div>
    <div class="politics-cost-two">
      <div>
        <label>{{ lang.initPoliticCostSlice }}: </label>
        <input type="number" [(ngModel)]="politics.generalCost.immbilizationTranche"/>
      </div>
      <div>
        <label>{{ lang.initPoliticCostSupp }}: </label>
        <input type="number" [(ngModel)]="politics.generalCost.supplementTranche"/>
      </div>
    </div>
    <div class="politics-cost-three">
      <div>
        <label>{{ lang.initPoliticCostInsurance }} (%): </label>
        <input type="number" [(ngModel)]="politics.generalCost.insurance"/>
      </div>
    </div>
  </table>

  </div>

</div>
