<div class="companies">

  <p>{{ lang.initCompaniesTitle }}</p>

  <div class="all">

  <!-- All Companies -->
  <div>
    <!-- Company Labels -->
    <div class="company-labels">
      <div>
        <label>{{ lang.initCompaniesName }} :</label>
      </div>
      <div>
        <label>{{ lang.initCompaniesCapital }} :</label>
      </div>
      <div>
        <label>{{ lang.initCompaniesMachinery }} :</label>
      </div>
    </div>

    <!-- Company Inputs -->
    <div class="company-all">
      <div>
        <label *ngIf="allCompanies.name === 'All Company'">{{ lang.initCompaniesAll }}</label>
      </div>
      <div>
        <input type="number" [(ngModel)]="allCompanies.socialCapital" (ngModelChange)="initAllSocialCapital()"/>
      </div>
      <div>
        <input type="number" [(ngModel)]="allCompanies.nbMachine" (ngModelChange)="initAllNumberMachine()"/>
      </div>
    </div>
  </div>

  <!-- Each Company -->
  <div class="company-each" *ngFor="let company of companies; let i = index">
    <div>
      <input type="string" [(ngModel)]="company.name" placeholder="{{lang.initCompaniesNamePlaceholder}} {{i + 1}}"/>
      <!-- <label>Entreprise {{i + 1}}</label> -->
    </div>
    <div>
      <input type="number" [(ngModel)]="company.socialCapital"/>
    </div>
    <div>
      <input type="number" [(ngModel)]="company.nbMachine"/>
    </div>
  </div>

  </div>

</div>
