.companies{
  border: solid 2px black;
  border-radius: 12px;
  padding: 10px 15px;
  margin: 5px;
  overflow: auto;

  font-size: 18px;
}

/**************************/
.company-labels{
  float: left;
  margin: 7.5px;
}
.company-all{
  float: left;
  margin: 7.5px;
}
.company-each{
  float: left;
  margin: 7.5px;
}

/**************************/
.company-labels>div:nth-child(1){
  margin-bottom: 5px;
}
.company-all>div:nth-child(1){
  margin-bottom: 5px;
}
.company-each>div:nth-child(1){
  margin-bottom: 5px;
}
