.companies{
  overflow: auto;

  box-shadow: 1px 1px 5px #808080;
  border-radius: 12px;
  margin: 5px;

  font-size: 18px;
}

.companies p{
  background: #808080;
  margin-top: 0px;
  margin-bottom: 0px;

  font-weight: bold;
  font-size: 22px;
  text-align: center;
}

.all{
  padding: 10px 15px;
}

/**************************/
.company-labels{
  float: left;
  margin: 7.5px;
}
.company-all{
  float: left;
  margin: 7.5px;
}
.company-each{
  float: left;
  margin: 7.5px;
}

/**************************/
.company-labels>div:nth-child(1){
  margin-bottom: 5px;
}
.company-all>div:nth-child(1){
  margin-bottom: 5px;
}
.company-each>div:nth-child(1){
  margin-bottom: 5px;
}
