.selling{
  overflow: auto;
  border: 2px solid black;
  border-radius: 12px;
  width: 95%;
  padding: 10px 15px;
  margin: 10px 0px;
}

.selling>div>div:nth-child(1){
  height: 25px;
}

.selling-label{
  float: left;
  width: 40%;
}
.selling-label>div{
  border: 0.5px solid black;
  background-color: #808080;
  height: 22px;
  padding: 1px 5px;
  margin-bottom: 1px;
  width: 80%
}

.selling-label>div:nth-child(1){
  background: none;
  border: none;
}

.selling-result{
  float: left;
  width: 15%;
}

.selling-result>div{
  text-align: right;
  border: 0.5px solid black;
  height: 22px;
  padding: 1px 5px;
  margin: 1px 5px;
}

.selling-result>div:nth-child(1){
  text-align: center;
  background-color: #808080;
  border: none;
}
