<div class="index">

  <div class="header">

    <h1>StratEnt</h1>
    <div *ngIf="authentification" class="session">
      <p>
        <span>{{ user.author }}</span> session <span>{{ user.date }}</span> à <span>{{ user.place }}</span>
      </p>
    </div>

  </div>

  <div *ngIf="authentification" class="navigator">
    <nav>
      <a class="label" routerLink='/newproject'>Initialisation</a> <br> <br>

      <div class="label"> Companies: </div>
      <div class="companies-nav" *ngFor="let company of companyList | async; let i = index">

        <label class="company-label">{{ company.name }}</label> <br>

        <a [routerLink]="['/choice', i]" (click)="shareCompanyAndRound(company)"> decision of {{ company.name }}</a> <br>

        <a *ngIf="company.result"
          [routerLink]="['/situation',i]"
          (click)="shareCompanyAndRound(company)">
          situation of {{ company.name }}
        </a> <br>

        <a *ngIf="company.result"
          [routerLink]="['/compatability',i]"
          (click)="shareCompanyAndRound(company)">
          comptability of {{ company.name }}
        </a> <br>

        <a *ngIf="company.result"
          [routerLink]="['/flux',i]"
          (click)="shareCompanyAndRound(company)">
          flux of {{ company.name }}
        </a> <br>

        <a *ngIf="company.result"
          [routerLink]="['/studies',i]"
          (click)="shareCompanyAndRound(company)">
          studies of {{ company.name }}
        </a> <br>

      <br>
      </div>

      <div class="label"><a routerLink="/result" (click)="shareGame()">Change Periode</a></div>

      <br>

      <div class="label"><a routerLink="/authentification" (click)="logOut()"> Log Out </a></div>

    </nav>
  </div>

  <div class="router">
    <router-outlet></router-outlet>
  </div>

</div>
