<div class="financial-structure">

  <p>{{ lang.decFinancialStructureTitle }}</p>

  <div class="all">

    <div class="financial-label">
      <div><label>{{ lang.decFinancialStructureVarCap }} (+/-):</label></div>
      <div><label>{{ lang.decFinancialStructureDistribution }} :</label></div>
      <div><label>{{ lang.decFinancialStructureVarBorrow }} (+/-):</label></div>
      <div><label>{{ lang.decFinancialStructureSubvention }} :</label></div>
      <div><label>{{ lang.decFinancialStructureEx }} (+/-):</label></div>
    </div>

    <div class="financial-input">
      <div><input type="number" [(ngModel)]="financial.variateCaptial"  (change)="changement()" (keyup)="changement()"></div>
      <div><input type="number" [(ngModel)]="financial.distribution"    (change)="changement()" (keyup)="changement()"></div>
      <div><input type="number" [(ngModel)]="financial.variateLoaning"  (change)="changement()" (keyup)="changement()"></div>
      <div><input type="number" [(ngModel)]="financial.subventions"     (change)="changement()" (keyup)="changement()"></div>
      <div><input type="number" [(ngModel)]="financial.exonerate"       (change)="changement()" (keyup)="changement()"></div>
    </div>

  </div>

</div>
