<div class="fabrication">

  <p>{{ lang.decFabricationTitle }}</p>

  <div class="all">

    <div class="fabrication-label">
      <div><label>{{ lang.decFabricationNames }} :</label></div>
      <div><label>{{ lang.decFabricationProduction }} :</label></div>
      <div><label>{{ lang.decFabricationMachinery }} :</label></div>
      <div><label>{{ lang.decFabricationProductor }} :</label></div>
    </div>

    <div class="fabrication-input" *ngFor="let product of products; let i = index;">
      <div><span>{{ lang.decFabricationName }} {{ i + 1 }}</span></div>
      <div><input type="number" [(ngModel)]="production.production[i]"         (change)="changement()" (keyup)="changement()"></div>
      <div><input type="number" [(ngModel)]="production.affectedMachine[i]"    (change)="changement()" (keyup)="changement()"></div>
      <div><input type="number" [(ngModel)]="production.affectedProductor[i]"  (change)="changement()" (keyup)="changement()"></div>
    </div>

  </div>

</div>
