.studies{
  position: relative;
  margin: 5px;
  overflow: auto;
  text-align: center;
}


.price-studies{
  margin: 5px;
}
.product-studies{
  display: inline-block;
  margin-right: 5px;
}
.concurrence-studies{
  display: inline-block;
}
.evaluation-studies{
  display: inline-block;
}

/******************************************************************/

.product-studies{
  border-radius: 12px;
  box-shadow: 1px 1px 5px #808080;
  padding: 10px 15px;
  margin: 5px 10px;
  text-align: left;
  vertical-align: top;
}
.concurrence-studies{
  border-radius: 12px;
  box-shadow: 1px 1px 5px #808080;
  padding: 10px 15px;
  margin: 5px 10px;
  text-align: left;
  vertical-align: top;
}
.evaluation-studies{
  border-radius: 12px;
  box-shadow: 1px 1px 5px #808080;
  padding: 10px 15px;
  margin: 5px 10px;
  text-align: left;
  vertical-align: top;
}

/******************************************************************/

.price-studies{
  font-size: 25px;
}

/******************************************************************/
.product-studies div,
.concurrence-studies div,
.evaluation-studies div{
  margin: 5px;
}
