<div class="studies">

  <div class="product-studies">
    <div *ngFor="let product of products; let i = index">
      <label><input type="checkbox" [(ngModel)]="studies.productStudies[i]" (change)="changement()">{{ lang.decStudiesProduct }} {{ i + 1 }}</label>
    </div>
  </div>

  <div class="concurrence-studies">
    <div><label><input type="checkbox" [(ngModel)]="studies.market" (change)="changement()">{{ lang.decStudiesMarketPart }}</label></div>
    <div><label><input type="checkbox" [(ngModel)]="studies.result" (change)="changement()">{{ lang.decStudiesResult }}</label></div>
    <div><label><input type="checkbox" [(ngModel)]="studies.finance" (change)="changement()">{{ lang.decStudiesFinancialStructure }}</label></div>
  </div>

  <div class="evaluation-studies">
    <div><label><input type="checkbox" [(ngModel)]="studies.situation" (change)="changement()">{{ lang.decStudiesMarketSituation }}</label></div>
    <div><label><input type="checkbox" [(ngModel)]="studies.performance" (change)="changement()">{{ lang.decStudiesPerformance }}</label></div>
  </div>

  <div class="price-studies">
    <div>Montant: {{ montant }}</div>
  </div>

</div>
