.studies{
  margin: 5px;
  overflow: auto;
}

.price-studies{
  float: right;
  margin-right: 100px;
}

.product-studies{
  float: left;
  border: 2px solid black;
  border-radius: 12px;
  padding: 10px 15px;
  margin: 5px 10px;
  width: 29.5%;
}
.concurrence-studies{
  float: left;
  border: 2px solid black;
  border-radius: 12px;
  padding: 10px 15px;
  margin: 5px 10px;
  width: 29.5%;
}
.evaluation-studies{
  float: left;
  border: 2px solid black;
  border-radius: 12px;
  padding: 10px 15px;
  margin: 5px 10px;
  width: 29.5%;
}
