<div class="article">

  <div class="authentification" *ngIf="!auth">

    <div class="form">

      <div class="form-block form-input">
        <label [class.label-up]="authorBool">{{ lang.authName }}</label>
        <input [(ngModel)]="author" (focus)="animatorClick()" (focusout)="animatorUnclick()">
      </div>

      <div class="form-block form-input">
        <label [class.label-up]="placeBool">{{ lang.authPlace }}</label>
        <input [(ngModel)]="place" (focus)="placeClick()"  (focusout)="placeUnclick()">
      </div>

      <div class="form-block form-input">
        <label [class.label-up]="dateBool">{{ lang.authDate }}</label>
        <input [(ngModel)]="date" (focus)="dateClick()"  (focusout)="dateUnclick()">
      </div>

    </div>

    <div class="form-block create-button">
      <button (click)="createAuth()">{{ lang.authButton }}</button>
    </div>

  </div>


  <div class="user-list" *ngIf="!auth">

    <p>{{ lang.authOther }}</p>

    <div class="user" *ngFor="let user of users" (click)="logAuth(user)">

      <div> <span>{{ user.author }}</span> </div>
      <div> <span>{{ user.place }}</span>  </div>
      <div> <span>{{ user.date }}</span>   </div>

    </div>

  </div>

</div>
