<div class="affinities" *ngFor="let product of products; let iProd = index">

  <h3>Affinités du Produit {{ iProd + 1}}</h3>

  <div class="affinities-data">
    <p>
      <label>Nombre de poids sensibilisant le consommateur: </label>
      <input type="number" [(ngModel)]="product.nbAttracts" (keyup)="initAttract(product.nbAttracts, product)">
    </p>

    <div class="affinities-type">

      <div class="affinities-label">
        <div><label>Nom de l'affinité: </label></div>
        <div><label>Importance (%): </label></div>
        <div><label>Type: </label></div>
      </div>

      <div class="affinities-inputs" *ngFor="let attract of product.attracts">
        <div><input type="text" [(ngModel)]="attract.name"></div>
        <div><input type="number" [(ngModel)]="attract.sensibility"></div>
        <!-- <div><input type="text" [(ngModel)]="attract.type"></div> -->
        <div><select [(ngModel)]="attract.type">
          <option value="price">Prix</option>
          <option value="publicity">Publicite</option>
          <option value="research">Recherche et Developpement</option>
          <option value="credit">Credit</option>
          <option value="sellorForce">Force de Vente</option>
          <option value="marketing">Action Commercial</option>
        </select></div>
      </div>

    </div>

    <p>
      <label>Fidelité :</label>
      <input type="number" [(ngModel)]="product.loyalty">
    </p>

  </div>

  <div class="affinities-graph">
    <div>
      <!-- Graph In The Canvas -->
    </div>
    <div>
      <span>Fidelité : </span> {{ product.loyalty }}
    </div>
  </div>

</div>
