<div class="affinities" *ngFor="let product of products; let iProd = index">

  <h3>{{ lang.initAffinityTitle }} {{ iProd + 1}}</h3>

  <div class="affinities-data">
    <p>
      <label>{{ lang.initAffinityNumber }}: </label>
      <input type="number" [(ngModel)]="product.nbAttracts" (keyup)="initAttract(product.nbAttracts, product)">
    </p>

    <div class="affinities-type">

      <div class="affinities-label">
        <div><label>{{ lang.initAffinityName }}: </label></div>
        <div><label>{{ lang.initAffinityWeight }} (%): </label></div>
        <div><label>{{ lang.initAffinityType }}: </label></div>
      </div>

      <div class="affinities-inputs" *ngFor="let attract of product.attracts">
        <div><input type="text" [(ngModel)]="attract.name"></div>
        <div><input type="number" [(ngModel)]="attract.sensibility"></div>
        <!-- <div><input type="text" [(ngModel)]="attract.type"></div> -->
        <div><select [(ngModel)]="attract.type">
          <option value="price">{{ lang.initAffinityTypePrice }}</option>
          <option value="publicity">{{ lang.initAffinityTypePrice }}</option>
          <option value="research">{{ lang.initAffinityTypeRD }}</option>
          <option value="credit">{{ lang.initAffinityTypeCredit }}</option>
          <option value="sellorForce">{{ lang.initAffinityTypeSellor }}</option>
          <option value="marketing">{{ lang.initAffinityTypeMarketing }}</option>
        </select></div>
      </div>

    </div>

    <p>
      <label>{{ lang.initAffinityFidelity }} :</label>
      <input type="number" [(ngModel)]="product.loyalty">
    </p>

  </div>

  <div class="affinities-graph">
    <div>
      <!-- Graph In The Canvas -->
    </div>
    <div>
      <span>{{ lang.initAffinityFidelity }} : </span> {{ product.loyalty }}
    </div>
  </div>

</div>
