.affinities{
  box-shadow: 1px 1px 5px #808080;
  border-radius: 12px;
  margin: 5px;
  overflow: auto;

  font-size: 18px;
}

.affinities h3{
  background: #808080;
  margin-top: 0px;
  margin-bottom: 0px;

  font-weight: bold;
  font-size: 22px;
  text-align: center;
}

.affinities-data{
  float: left;
  padding: 10px 15px;
  width: 65%;
  border-right: 0.5px solid #808080;
}
.affinities-graph{
  float: left;
  width: 30%;
  padding: 10px 15px;
  border-left: 0.5px solid #808080;
}

.affinities-type{
  overflow: auto;
}
.affinities-label{
  float: left;
  margin: 5px;
}
.affinities-inputs{
  float: left;
  margin: 5px;
}

/**************************** Canvas **********************************/
.chart{
  width: 400px;
  height: 200px;
}
canvas{
  background-color: none;
  width: 100%;
  height: 100%;
}
