<div class="studies">

  <p>{{ lang.initStudiesTitle }}</p>

<div class="all">

  <div class="product-studies">
    <div *ngFor="let product of products; let i = index">
      <label>{{ lang.initStudiesProduct }} {{ i + 1 }} : </label>
      <input type="number" [(ngModel)]="studies.productStudies[i]">
    </div>
  </div>

  <div class="concurrence-studies">
    <div><label>{{ lang.initStudiesPart }} : </label><input type="number" [(ngModel)]="studies.marketStudies"></div>
    <div><label>{{ lang.initStudiesResult }} : </label><input type="number" [(ngModel)]="studies.concurrenceStudies"></div>
    <div><label>{{ lang.initStudiesStructure }} : </label><input type="number" [(ngModel)]="studies.structureStudies"></div>
  </div>

  <div class="evaluation-studies">
    <div><label>{{ lang.initStudiesMarket }} : </label><input type="number" [(ngModel)]="studies.sellingStudies"></div>
    <div><label>{{ lang.initStudiesPerformance }} : </label><input type="number" [(ngModel)]="studies.performanceStudies"></div>
  </div>

</div>

</div>
