.studies{
  box-shadow: 1px 1px 5px #808080;
  border-radius: 12px;
  overflow: auto;
  margin: 5px;
}
.all{
  padding: 10px 15px;
}
.studies p{
  background: #808080;
  margin-top: 0px;
  margin-bottom: 0px;

  font-weight: bold;
  font-size: 22px;
  text-align: center;
}
input{
  text-align: right;
}

.product-studies{
  float: left;
  width: 30%;
  padding: 10px;
  margin: 5px;
  border-radius: 12px;
}
.product-studies div{
  margin: 2.5px;
}

.concurrence-studies{
  float: left;
  width: 30%;
  padding: 10px;
  margin: 5px;
  border-radius: 12px;
}
.concurrence-studies div{
  margin: 2.5px;
}

.evaluation-studies{
  float: left;
  width: 30%;
  padding: 10px;
  margin: 5px;
  border-radius: 12px;
}
.evaluation-studies div{
  margin: 2.5px;
}
