<div class="management">

  <p>Employees</p>

  <div class="management-type" *ngFor="let employee of hireFire; let i = index">

    <p>
      <span *ngIf="employee.type === 'Productor'">Producteur</span>
      <span *ngIf="employee.type === 'Sellor'">Vendeur</span>
      <span *ngIf="employee.type === 'Manager'">Cadre</span>
    </p>

    <div class="management-label">
      <div><label>Embauche:</label></div>
      <div><label>Licenciement:</label></div>
    </div>

    <div class="management-input">
      <div><input type="number" [(ngModel)]="employee.hire" (change)="changement()" (keyup)="changement()"></div>
      <div><input type="number" [(ngModel)]="employee.fire" (change)="changement()" (keyup)="changement()"></div>
    </div>

    <br>
    <br>
  </div>

</div>
