<div class="remuneration">

  <p>{{ lang.decRemunerationTitle }}</p>

  <div class="remuneration-label">
    <div><label>{{ lang.decRemunerationSalary }} :</label></div>
    <div><label>{{ lang.decRemunerationCommission }} (%):</label></div>
    <div><label>{{ lang.decRemunerationBudget }} (%):</label></div>
  </div>

  <div class="remuneration-input">
    <div><input type="number" [(ngModel)]="remuneration.wageIndex"        (change)="changement()" (keyup)="changement()"></div>
    <div><input type="number" [(ngModel)]="remuneration.commission"       (change)="changement()" (keyup)="changement()"></div>
    <div><input type="number" [(ngModel)]="remuneration.formationBudget"  (change)="changement()" (keyup)="changement()"></div>
  </div>

</div>
