.marketing{
  display: inline-block;
  border-radius: 12px;
  padding: 10px 15px;
  margin: 5px;
  overflow: auto;
  width: 30%;
  min-width: 50vw;
}

.all{
  margin: 0px auto;
}
.marketing-label{
  display: inline-block;
  margin-right: 5px;
  text-align: left;
}
.marketing-input{
  margin-top: 0.5px;
  display: inline-block;
}
input{
  text-align: right;
}

/****************************************************/

.marketing{
  border-radius: 12px;
  box-shadow: 1px 1px 5px #808080;
  padding: 0px;
  text-align: center;
}
.marketing p{
  background: #808080;
  margin-top: 0px;
  font-size: 20px;
}

/****************************************************/

.marketing-label div,
.marketing-input div{
  margin: 5px;
}
