<div class="marketing">

  <p>{{ lang.decMarketingTitle }}</p>

  <div class="marketing-label">
    <div><label>{{ lang.decMarketingType }} :</label></div>
    <div class="marketing-label-product" *ngFor="let item of largerAttracts.attracts">
      <div><label>{{ item.name }} :</label></div>
    </div>
  </div>

  <div class="marketing-input" *ngFor="let product of products; let iProd = index;">
    <div><span>{{ lang.decMarketingName }} {{ iProd + 1 }}</span></div>
    <div class="marketing-input-product" *ngFor="let item of product.attracts; let iAttract = index;">
      <div><input type="number" [(ngModel)]="marketings[iAttract].decision[iProd]" (change)="changement()" (keyup)="changement()"></div>
    </div>
  </div>

</div>
