<div class="game">

  <p>Jeu</p>

  <div class="choice">
    <div class="label"><label>Nombre d'Entreprises</label></div>
    <div class="input"><input type="number" [(ngModel)]="init.nbCompany" (change)="initCompanies()" (keyup)="initCompanies()"/></div>
  </div>

  <div class="choice">
    <div class="label"><label>Nombre de Produits</label></div>
    <div class="input"><input type="number" [(ngModel)]="init.nbProducts" (change)="initProducts()" (keyupe)="initProducts()"/></div>
  </div>

</div>
