<div class="game">

  <p>{{ lang.initGameTitle }}</p>

  <div class="choice">
    <div class="label"><label>{{ lang.initGameCompany }}</label></div>
    <div class="input"><input type="number" [(ngModel)]="init.nbCompany" (change)="initCompanies()" (keyup)="initCompanies()"/></div>
  </div>

  <div class="choice">
    <div class="label"><label>{{ lang.initGameProduct }}</label></div>
    <div class="input"><input type="number" [(ngModel)]="init.nbProducts" (change)="initProducts()" (keyupe)="initProducts()"/></div>
  </div>

</div>
