.clearing{
  display: inline-block;
  border-radius: 12px;
  padding: 10px 15px;
  margin: 5px;
  overflow: auto;
  width: 40%;
  vertical-align: top;
}

.clearing-label{
  display: inline-block;
  margin-right: 5px;
  text-align: left;
}
.clearing-input{
  display: inline-block;
}
input{
  text-align: right;
}

/****************************************************/

.clearing{
  border-radius: 12px;
  box-shadow: 1px 1px 5px #808080;
  padding: 0px;
  text-align: center;
}
.clearing p{
  background: #808080;
  margin-top: 0px;
  font-size: 20px;
}

/****************************************************/

.clearing-label div,
.clearing-input div{
  margin: 5px;
}
