.clearing{
  float: left;
  border: 2px solid black;
  border-radius: 12px;
  padding: 10px 15px;
  margin: 5px;
  overflow: auto;
  width: 46%;
}

.clearing-label{
  float: left;
  margin-left: 5px;
}
.clearing-input{
  float: left;
}
